.text-block {
  padding-left: 20px;
  padding-right: 20px;
}

.text-block > p {
  font-size: 12px;
}

.pizza-card {
  width: 40%;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  background-color: bisque;
}

.main-img > img {
width: 100%;
border-radius: 5px;
}

select{
  padding: 5px;
  width: 50%;
}


.btn-group button {
  padding: 10px 24px;
  float: left;
  border: none;
}

.main-dropdown {
  background-color: floralwhite;
}

.main-button {
  background-color:antiquewhite;
}

.btn-group {
  display: inline-block;
  margin-right: 15px;
}

.main-buy {
  padding: 5px 24px;
  border: none;
  background-color: limegreen;
  border-radius: 5px;
}

.main-buy svg {
  width: 16px;
  height: 16px;
  fill: white;
}